/*.bg {
  background: url('../img/young_tranplants.avif') no-repeat center center fixed;
  background-size: cover;
  opacity: .5;
}*/

/*.bg {
  position: fixed;
  width: 100%;
  background-size: cover;
  height: auto;
  top: 0;
  left: 0;
  opacity: .3;
  z-index: -1;
}*/

body {
  background-image: url('../img/young_tranplants.avif');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.bg {
  background-color: rgba(255, 255, 255, .3);
  height: 100%;

}

.sidebar {
  height: 100%;
  width: 180px;
  position: fixed;
  background: rgba(144, 238, 144, .7);
  padding-top: 20px;
  text-align: center;
}

.sidebar a {
  padding: 8px;
  text-decoration-line: underline;
  color: forestgreen;
  display: block;
}

.sidebar a:hover {
  color: white;
}

.main {
  margin-left: 180px;
  padding: 30px;
}